dist/*
*.egg-info
gridkit/__pycache__/*
*__pycache__*
*gridkit/__pycache__*
gridkit-rs/Cargo.lock
venv/*
gridkit-py/venv/*
gridkit-py/target/*
gridkit-rs/target/*
gridkit-py/docs/source/api/*
gridkit-py/docs/source/example_gallery
Cargo.lock
.vscode/*
*.swp
gridkit-py/build/*
gridkit-py/gridkit/gridkit_rs.cpython*
gridkit-py/docs/source/sg_execution_times.rst
